<!DOCTYPE html>
<html lang="EN">
<head>
    <title>Counter Selection</title>
</head>
<body>
    <div class = "button-container">
        <h1>Select a Branch</h1>
        <a href="/counter/CSE" class="button">Computer Science and Engg</a>
        <a href="/counter/ECE" class="button">Electronics and Communications Engg</a>
        <a href="/counter/ISE" class="button">Information Science and Engg</a>
        <a href="/counter/AIML" class="button">Artificial Intelligence and Machine Learning Engg</a>
        <a href="/counter/AIDS" class="button">Arificial Intelligence and Data Science Engg</a>
        <a href="/counter/MECH" class="button">Mechanical Engg</a>
        <a href="/counter/AERO" class="button">Aeronautical Engg</a>
        <a href="/counter/ELEC" class="button">Electrical and Electronics Engg</a>
        <a href="/counter/CIVIL" class="button">Civil Engg</a>
    </div>
</body>
</html>